<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--This api key is only for local enviroments. Please use a real key for other enviroments-->
      <setting name="ipStackKey" value="80beb8263f0b1c71d232b7b515288844"></setting>
      <setting name="ipStackEndpoint" value="http://api.ipstack.com/{0}"></setting>
      
      <!--This api key is needed to access to both Google Maps Javascript API and Google Geocoding API. 
          You could set a test key using your gmail account from the Google Developer Console -->
      <setting name="googleMapsApiKey" value="{{your_key_here}}"></setting>

      <!--This endpoint could be used as an alternative to ipStack but a payed key is needed because Google limits the request to one per day-->
      <setting name="geocodeEndpoint" value="https://maps.googleapis.com/maps/api/geocode/json"></setting>
      
      <!-- This setting activates the GeoIpLocation data service in sitecore-->
    </settings>
  </sitecore>
</configuration>
