<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <coveo>
      <defaultIndexConfiguration>
        <MultipleValueSeparator>,</MultipleValueSeparator>
        <fieldMap>
          <fieldNames hint="raw:AddFieldByFieldName">
            <fieldType fieldName="latitude" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="longitude" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="type" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="services" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
        </fieldMap>
        <documentOptions>
          <!--<fields hint="raw:AddComputedIndexField">
            <field fieldName="searchTypeComputed" sourceField="Search Type">DignityMemorial.Foundation.Search.ComputedFields.SearchTypeComputedField, DignityMemorial.Foundation.Search</field>
            <field fieldName="metaContentComputedField" sourceField="MetaDescription">DignityMemorial.Foundation.Search.ComputedFields.MetaContentComputedField, DignityMemorial.Foundation.Search</field>
            <field fieldName="dynamicLocationName" sourceField="Name To Display">DignityMemorial.Foundation.Search.ComputedFields.DynamicLocationNameComputedField, DignityMemorial.Foundation.Search</field>
          </fields>-->
        </documentOptions>
      </defaultIndexConfiguration>
    </coveo>
    <contentSearch>
      <configuration>
        <indexes hint="list:AddIndex">
          <index id="Coveo_web_index">
            <locations>
              <crawler name="ContentCrawler">
                <root>/sitecore/content</root>
              </crawler>
            </locations>
          </index>
          <index id="Coveo_master_index">
            <locations>
              <crawler name="ContentCrawler">
                <root>/sitecore/content</root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>